:root {
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --color-light-s: #fafafa;
  --color-light-l: #f6f6f6;
  --color-light-xl: #ffffff;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-2xl: ;
  --color-dark-3xl: #292929;
  --start-screen-gradient: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
  linear-gradient(0deg, #211F20, #211F20);
  --footer-gradient:  url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%),
  linear-gradient(0deg, #211F20, #211F20);
  ;
}

@font-face {
  font-family: 'Georgia';
  src: url('../../assets/fonts/Georgia.woff2') format('woff2'),
      url('../../assets/fonts/Georgia.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Arial';
  src: url('../../assets/fonts/ArialMT.woff2') format('woff2'),
      url('../../assets/fonts/ArialMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  line-height: 1;
  font-size: 15px;
  font-weight: 400;
  font-family: Georgia;
  scroll-behavior: smooth;
}

body.lock {
  overflow: hidden;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: inherit;
}

img {
  max-width: 100%;
  vertical-align: top;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container, 
._container-main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  box-sizing: content-box;
}

._container-main {
  padding: 80px 20px 100px 20px;
}

@media (max-width: 1279px) {
  ._container, 
  ._container-main {
    padding: 0px 15px;
  }

  ._container-main {
    padding: 80px 15px 100px 15px;
  }
}

@media (max-width: 768px) {
  ._container, 
  ._container-main {
    max-width: 708px;
  }
}

@media (max-width: 767px) {
  ._container, 
  ._container-main {
    padding: 0px 10px;
  }
  ._container-main {
    max-width: 300px;
    padding: 42px 10px 42px 10px;
  }
}

/* ============================== HEADER ===================================*/

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}

.header__container {
  display: flex;
  min-height: 60px;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

@media (max-width: 1279px) {
  .header__container {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .header__container {
    padding: 0px 10px;
  }
}

.header__logo {
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  justify-content: center;
}

.header__title {
  color: var(--color-primary);
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.header__subtitle {
  color: var(--color-light-xl);
  font-family: Arial;
  font-size: 13px;
  letter-spacing: 0.1em;
  line-height: 15px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 767px) {
  .header__menu {
    display: none;
  }
}

.header__item:first-child {
  border-bottom: 3px solid #F1CDB3;
}

.header__item:not(:last-child) {
  margin: 0px 35px 0px 0px;
}

.header__link {
  color: var(--color-dark-s);
  font-family: Arial;
  line-height: 160%;
}

.header__item:first-child .header__link {
  color: var(--color-light-s);
}

.header__link:hover {
  color: var(--color-light-s);
}

/* ============================= MAIN ============================= */

.main {
  flex: 1 1 auto;
}

/* ============================= START SCREEN ===================== */

.not-only {
  position: relative;
  background: var(--start-screen-gradient);
}

.not-only__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1279px) {
  .not-only__container{
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
}

.not-only__content {
  padding: 343px 0px 243px 0px;
  max-width: 460px;
}

@media (max-width: 1279px) {
  .not-only__content {
    padding: 150px 0px 0px 0px;
    max-width: 460px;
  }

  .not-only__content > :last-child {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .not-only__content {
    padding: 150px 0px 0px 0px;
    width: 291px;
    max-width: 300px;
  }

  .not-only__content > :last-child {
    margin: 0 auto;
  }
}


.not-only__content > *:not(:last-child) {
  margin-bottom: 42px;
}

.not-only__header {
  color: var(--color-light-xl);
  font-size: 44px;
  line-height: 130%;
  max-width: 310px;
}

.not-only__descriprion {
  color: var(--color-dark-s);
  font-family: Arial;
  line-height: 160%;
}

@media (max-width: 767px) {
  .not-only__header {
    font-size: 25px;
    max-width: 230px;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 0.06em;
  }

  .not-only__descriprion {
    margin: 0 auto;
    text-align: center;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;

  }
}

.not-only__link {
  background: var(--color-primary);
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 52px;
  max-width: 208px;
  color: var(--color-dark-3xl);
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  transition: all 0.5s ease;
}

@media (max-width: 767px) {
  .not-only__link { 
    max-width: 207px;
  }
}

.not-only__link:hover {
  background: var(--color-primary-light);
}

.not-only__image {
  padding: 180px 0px 0px 0px;
}

@media (max-width: 1279px) {
  .not-only__image {
    padding: 100px 0px 0px 138px;
  }
}

@media (max-width: 767px) {
  .not-only__image {
    padding: 104px 0px 0px 40px;
  }
}

.not-only__image img {
  width: 100%;
  height: auto;
  display: block;
  min-width: 260px;
  min-height: 271.77px;
}

@media (max-width: 1279px) {
  .not-only__image img{
    max-width: 569px;
    max-height: 593px;
  }
}

@media (max-width: 767px) {
  .not-only__image img{
    max-width: 260px;
  }
}


/* =========================== ABOUT ========================= */

.about__container {
  background: var(--color-light-xl);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 120px;
}

@media (max-width: 1279px) {
  .about__container {
    flex-direction: column-reverse;
    row-gap: 80px;
  }
}

@media (max-width: 767px) {
  .about__container {
    max-width: 270px;
    row-gap: 42px;
  }
}

.about__content {
  max-width: 430px;
}

.about__content .about__header {
  max-width: 370px;
  text-align: left;
}



.about__content > *:not(:last-child) {
  padding: 0px 0px 25px 0px;
}

@media (max-width: 767px) { 
  .about__content > *:not(:last-child) {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .about__content .about__header {
    text-align: center;
    padding-bottom: 24px;
  }
  .about__content > p {
    text-align: justify;
  }

  .about__content > p:not(:last-child){
    padding-bottom: 22px;
  }
}

.about__content p{
  color: var(--color-dark-xl);
  line-height: 160%;
  font-family: Arial;
}

@media (max-width: 767px) {
  .about__image {
    max-width: 260px;
  }
}

.content-header {
  color: var(--color-dark-l);
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: center;
}

@media (max-width: 767px) {
  .content-header {
    font-size: 25px;
  }
}


/* ============================ FOOTER ================================ */

.footer {
  background: var(--footer-gradient);
  padding-top: 40px;
}

@media (max-width: 1279px) {
  .footer {
    padding-top: 13px;
  }
}

.footer__container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 159px;
  justify-content: center;
}

@media (max-width: 1279px) {
  .footer__container {
    row-gap: 65px;
    column-gap: 61px;
    max-width: 708px;
  }
}

@media (max-width: 767px) {
  .footer__container {
    row-gap: 40px;
    flex-direction: column;
    align-items: center;
    max-width: 290px;
  }
}

.footer__container > *:not(:last-child) {
  padding-top: 16px;
}

@media (max-width: 767px) {
  .footer__container > *:not(:first-child) {
    padding-top: 0px;
  }
}

.footer-text {
  color: var(--color-primary);
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

.footer-block > *:not(:last-child) {
  margin-bottom: 40px;
}

.footer__contacts {
  max-width: 279px;
}

@media (max-width: 767px) {
  .footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer__header {
  color: var(--color-light-xl);
  text-align: left;
}

@media (max-width: 767px) {
  .footer__header {
    color: var(--color-light-xl);
    text-align: center;
  }
}


.footer__email {
  display: flex;
  align-items: center;
  max-width: 252px;
  height: 32px;
}

.footer__email a::before{
  display: block;
  content: "";
  background: url(../../assets/icons/icon-email.svg) no-repeat;
  width: 40px;
  height: 32px;
  float: left;
  margin-right: 20px;
}

.footer__contacts .footer-text {
  line-height: 160%;
}

.footer__phone a::before{
  display: block;
  content: "";
  background: url(../../assets/icons/icon-phone.svg) no-repeat;
  width: 40px;
  height: 32px;
  float: left;
  margin-right: 20px;
}

.footer__address {
  max-width: 302px;
}

.footer__address > *:last-child {
  margin-top: 32px;
}


.footer__header {
  margin-bottom: 34px;
}

@media (max-width: 767px) {
  .footer__address > *:last-child {
    margin-top: 39px;
  }

  .footer__header {
    margin-bottom: 39px;
  }
}

.footer__content {
  background-image: url(../../assets/icons/icon-marker.svg);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 42px;
  min-height: 32px;
}

@media (max-width: 767px) {
  .footer__content {
    padding-left: 42px;
    margin-left: -5px;
  }
}

.footer__content:last-child a{
  line-height: 160%;
}

@media (max-width: 767px) {
  .footer__image {
    width: 260px;
    height: 269px;
  }

}
/* ============================ DONATIONS =============================== */

.main__donation {
  background: var(--color-light-l);
}

.donation__container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  justify-content: center;
  align-items: center;
}

.donation__content {
  max-width: 380px;
}

@media (max-width: 1279px) {
  .donation__container {
    flex-direction: column-reverse;
  }
  .donation__content {
    padding-bottom: 60px;
  }
}

.donation__content > *:not(:last-child) {
  margin-bottom: 19px;
}

@media (max-width: 767px) {
  .donation__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 280px;
    padding-bottom: 43px;
  }
  .donation__content > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

.donation__header {
  max-width: 300px;
  text-align: left;
}

@media (max-width: 767px) {
  .donation__header {
    max-width: 229px;
    text-align: center;
  }
}

.donation__subtitle {
  line-height: 110%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

@media (max-width: 767px) {
  .donation__subtitle {
    line-height: 160%;
    letter-spacing: 0em;
  }
}

.donation__credit-card {
  background: var(--color-primary);
  max-width: 349px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  transition: all 0.5s ease;
}

@media (max-width: 767px) {
  .donation__credit-card {
    max-width: 281px;
    width: 281px;
    height: 43px;
  }
}

.donation__credit-card:hover {
  cursor: pointer;
  background: var(--color-primary-light);
}

.donation__image {
  max-width: 505px;
  max-height: 261px;
}

@media (max-width: 767px) {
  .donation__image {
    max-width: 260px;
  }
}

.donation__credit-card a {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

@media (max-width: 767px) {
  .donation__credit-card a {
    font-size: 15px;
    line-height: 155%;
  }
}

.donation__credit-card a::before {
  content: "";
  display: block;
  background: url(../../assets/icons/credit-card.svg) no-repeat;
  width: 30px;
  height: 23px;
  float: left;
  margin-right: 12px;
  transition: all 0.7s ease;
}

.donation__annotation {
  font-family: Arial;
  font-size: 12px;
  line-height: 150%;
  color: var(--color-dark-m);
  font-style: italic;
}

@media (max-width: 767px) { 
  .donation__annotation {
    text-align: justify;
  }
}

/* ========================= FRIENDS =================================== */

.main__friends {
  background: var(--color-light-l);
}

.friends__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.friends__container > *:not(:last-child) {
  padding: 0px 0px 60px 0px;
}

@media (max-width: 767px) {
  .friends__container > *:not(:last-child) {
    padding: 0px 0px 42px 0px;
  }
}

.friends__header {
  max-width: 400px;
  text-align: center;
}

.friends__slider {
  display: flex;
  align-items: center;
  column-gap: 53px;
  min-height: 435px;
}

@media (max-width: 1279px) {
  .friends__slider {
    column-gap: 13px;
  }
}

@media (max-width: 767px) {
  .friends__slider {
    flex-wrap: wrap;
    max-width: 270px;
    column-gap: 80px;
    row-gap: 20px;
    justify-content: center;
  }
}

.friends__slider-container {
  max-width: 990px;
}

@media (max-width: 1279px) {
  .friends__slider-container {
    max-width: 580px;
  }
}

@media (max-width: 767px) {
  .friends__slider-container {
    max-width: 270px;
  }
}


.friends-button {
  border-radius: 100px;
  border: 2px solid var(--color-primary);
  width: 48px;
  height: 48px;
  background: var(--color-light-l);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.friends-button:hover {
  border: 2px solid var(--color-primary-light);
  background: var(--color-primary-light);
}


.friends-button img {
  pointer-events: none;
}

@media (max-width: 767px) {
  .friends__button-prev {
    order: 2;
  }
  .friends__button-next {
    order: 3;
  }
}

.slider-container {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 435px;
  overflow: hidden;
}

.cards-set {
  display: flex;
  max-width: 990px;
  width: 990px;
  justify-content: space-between;
  height: 435px;
  position: absolute;
  transition: 0.6s ease;
  transform: translate(-100%, 0);
}

@media (max-width: 1279px) {
  .cards-set {
    max-width: 580px;
    width: 580px;
  }
}

@media (max-width: 767px) {
  .cards-set {
    max-width: 270px;
    width: 270px;
  }
}

.cards-set.active {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.cards-set.active~.cards-set {
  -webkit-transform: translate(100%, 0);
  transform: translate(100%, 0);
}


.friends__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--color-light-s);
  border-radius: 9px;
  transition: all 0.5s ease;
}

.friends__card > * {
  margin: 0px 0px 30px 0px;
}



.friends__name {
  color: var(--color-dark-l);
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  transition: all 0.2s ease;
}

.friends__button {
  min-height: 48px;
  padding: 0px 43px;
  border-radius: 100px;
  border: 2px solid var(--color-primary);
  background-color: var(--color-light-s);
  font-size: 17px;
  cursor: pointer;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-family: Georgia;
  color: var(--color-dark-3xl);
  transition: all 0.5s ease;
}

.friends__card:hover {
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: var(--color-light-xl);
}

.friends__card:hover .friends__button {
  background-color: var(--color-primary-light);
  border: 2px solid var(--color-primary-light);
}

.friends__pets {
  padding: 0px 44px;
  max-width: 261px;
  min-height: 51px;
  border-radius: 100px;
  background: var(--color-primary);
  color: var(--color-dark-3xl);
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.friends__pets:hover {
  cursor: pointer;
  background: var(--color-primary-light);
}

._blank {
  min-width: 270px;
}


/* ============================ HELP ============================== */

.help__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
}

@media (max-width: 767px) {
  .help__container {
    row-gap: 42px;
  }
}

.help__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1026px;
  row-gap: 55px;
  column-gap: 119px;
}


.cards__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

@media (max-width: 1279px) {
  .cards__card {
    width: 170px;
  }
  .help__cards {
    column-gap: 99px;
  }
}

@media (max-width: 768px) {
  .help__cards {
    column-gap: 60px;
  }
}

@media (max-width: 767px) {
  .cards__card {
    width: 130px;
    row-gap: 20px;
  }
  .help__cards {
    justify-content: initial;
    column-gap: 30px;
    row-gap: 30px;
    max-width: 290px;
  }
}

.cards__card p {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--color-dark-l);
}

@media (max-width: 767px) {
  .cards__card p {
    font-size: 15px;
    line-height: 110%;
  }

  .cards__card img {
    width: 50px;
    height: 50px;
  }
}

/* =========================== BURGER =================================== */

.header__burger {
  display: none;
}

.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(41,41,41,0.6);
  cursor: pointer;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .overlay.active {
    display: block;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    margin-right: 62px;
    margin-top: 15px;
    z-index: 4;
  }

  .header__burger span {
    position: absolute;
    background-color: var(--color-primary);
    left: 19px;
    width: 100%;
    height: 2px;
    top: 1px;
    transition: all 0.5s ease;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    position: absolute;
    background-color: var(--color-primary);
    width: 100%;
    height: 2px;
    left: 19px;
    transition: all 0.5s ease;
  }

  .header__burger:before {
    top: -9px;
  }

  .header__burger:after {
    bottom: 7px;
  }

  .header__burger.active:before {
    transform: rotate(90deg);
    left: 8px;
    top: 1px;
  }

  .header__burger.active span {
    transform: rotate(90deg);
    left: 18px;
  }

  .header__burger.active:after {
    transform: rotate(90deg);
    bottom: 17px;
    left: 28px;
  }

  .header__menu {
    display: block;
    position: fixed;
    top: 0px;
    right: -100%;
    width: 320px;
    height: 100vh;
    overflow: auto;
    background-color: var(--color-dark-3xl);
    transition: all 0.5s;
    z-index: 3;
  }

  .header__menu.active {
    right: 0px;
  }

  .header__list {
    display: flex;
    margin-top: 248px;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
  }

  .header__link {
    color: var(--color-dark-s);
    font-size: 32px;
    line-height: 160%;
    font-family: Arial;
  }

  .header__item:not(:last-child) {
    margin: 0px;
  }

  .header__container.burger {
    justify-content: flex-end;
  }

  .header__logo.burger {
    z-index: 4;
    padding-right: 0px;
  }
}

@media (max-width: 730px) {
  .header__logo.burger {
    padding-right: 22px;
  }
}

/* ==================== MODAL ================= */

.modal-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(41,41,41,0.6);
  cursor: pointer;
}

.modal-overlay.open {
  display: block;
}

.modal {
  position: fixed;
  left: 50%;
  z-index: 3;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.modal.open {
  opacity: 1;
  visibility: visible;
}


.modal__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__content {
  background-color: var(--color-light-s);
  display: flex;
  max-width: 900px;
  width: 900px;
  align-items: center;
  position: relative;
  border-radius: 9px; 
}

@media (max-width: 1279px) {
  .modal__content {
    max-width: 630px;
    width: 630px;
  }
}

@media (max-width: 767px) {
  .modal__content {
    max-width: 240px;
    width: 240px;
  }
}

.modal__content__image {
  max-width: 500px;
  width: 500px;
  border-radius: 9px;
}

@media (max-width: 1279px) {
  .modal__content__image {
    max-width: 350px;
    width: 350px;
  }
}

@media (max-width: 767px) {
  .modal__content__image {
    display: none;
  }
}

.modal__content-pet {
  max-width: 351px;
  margin: 50px 20px 88px 29px;
}

@media (max-width: 1279px) {
  .modal__content-pet {
    max-width: 260px;
    margin: 10px 9px 37px 11px;
  }
}

@media (max-width: 767px) {
  .modal__content-pet {
    max-width: 220px;
    margin: 10px;
  }
}


.modal__content-pet > *:not(:last-child){
  padding-bottom: 40px;
}

@media (max-width: 767px) {
  .modal__content-pet > *:not(:last-child){
    padding-bottom: 24px;
  }
}

.content-pet__name__title {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}
.content-pet__name__subtitle {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}
.content-pet__desc {
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}



.content-pet__rest li{
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.content-pet__rest li::before {
  content: "\2022";
  color: var(--color-primary);
  font-weight: bold;
  display: inline-block; 
  width: 1em;
}

.content-pet__rest > *:not(:last-child){
  padding-bottom: 10px;
}

.close-modal {
  position:absolute;
  top: -52px;
  right: -42px;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: all 0.5 ease;
}

.close-modal:hover {
  cursor: pointer;
  background-color: var(--color-primary);
}

.modal-overlay:hover + .modal > .modal__body > .modal__content > .close-modal {
  cursor: pointer;
  background-color: var(--color-primary);
}

@media (max-width: 767px) {
  .content-pet__desc {
    text-align: justify;
  }
  .content-pet__name__title {
    text-align: center;
  }
  .content-pet__name__subtitle {
    text-align: center;
  }
  .close-modal {
    top: -50px;
    right: -35px;
  }
}

._bold {
  font-weight: 700;
}